* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: roboto;
}
header {
  box-shadow: 0 4px 4px #0000001a;
  text-align: center;
  padding: 2px;
  margin-bottom: 16px;
}
.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user-number-input {
  width: 240px;
  height: 30px;
  font: inherit;
  margin-top: 16px;
}

.start-game-button {
  width: 120px;
  height: 40px;
  background-color: #01ffff97;
  border: 0.5px solid black;
  opacity: 0.7;
  color: black;
}
.glow-start-btn {
  background-color: #01ffff;
  border: 2px solid black;
}

button {
  border-radius: 4px;
  border: 0.5px solid black;
}

.hide {
  display: none;
}
.no-cursor {
  cursor: not-allowed;
}
