* {
  box-sizing: border-box;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding-inline: 16px;
  background-color: #6482ad;
  margin-bottom: 100px;
}

header h1 {
  text-align: center;
}
.all-todos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.container {
  max-width: 600px;
  border: 1px solid #7fa1c3;
  padding: 24px;
  margin-inline: auto;
  border-radius: 8px;
  background-color: white;
  margin-top: 100px;
  transition: all 0.25s ease-in-out;
}

.user-input-container {
  display: flex;
  border: 1px solid #7fa1c3;
  border-radius: 4px;
  overflow: hidden;
}
.user-input-container input {
  flex-grow: 1;
  padding: 8px;
  font-size: 20px;
}
/* .user-input-container .add-task-btn{
  flex-shrink: 0;
} */
.add-task-btn {
  background-color: rgba(146, 26, 64, 0.9);
  padding: 8px;
  color: white;
}
.warning-for-empty-task {
  font-size: 12px;
  color: red;
  margin-block: 8px;
  opacity: 0;
}
.one-todo-container {
  display: flex;
  align-items: center;
  /* margin-block: 16px; */
  gap: 8px;
}

.one-todo-container input {
  flex-grow: 1;
  background-color: inherit;
  color: black;
  font-size: 16px;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.controls div {
  border: 1px solid black;
  font-size: 12px;
  padding: 4px;
  /* background-color: #9ca986; */
  background-color: white;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}
.cross-task-text {
  text-decoration: line-through;
  text-decoration-color: red;
}
div.change-bg {
  background-color: rgb(9, 183, 9);
}
div.red-bg {
  background-color: red;
}
div.edit-bg {
  background-color: grey;
}

.stats {
  position: absolute;
  top: 70px;
  right: 70px;
  display: flex;
  flex-direction: column;
}
.stats {
  opacity: 0;
}
.show {
  opacity: 1;
}
.controls .setting {
  border: unset;
  display: none;
}
@media (width<=500px) {
  .controls div {
    border: unset;
    display: block;
  }

  .user-input-container {
    position: relative;
  }

  .user-input-container input {
    max-width: 100%;
  }
  .user-input-container .add-task-btn {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .controls {
    display: flex;
    flex-direction: column-reverse;
  }
  .one-todo-container {
    border-bottom: 1px solid red;
    min-height: 110px;
    display: flex;
  }
}
